<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/dbaab9daf5.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main_header">
        <div class="header_title">
            <a href="/">
                WORKFORCE
            </a>
        </div>
        <div class="header_profile">
            <input type="checkbox" id="bell">
            <label for="bell">
                <i class="fas fa-bell"></i>
            </label>

            <input type="checkbox" id="envelope">
            <label for="envelope">
                <i class="fas fa-envelope"></i>
            </label>

            <input type="checkbox" id="user">
            <label for="user">
                <i class="fas fa-user"></i>
            </label>
        </div>
    </header>