<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
    <header class="header">
        <div class="title">
            <div class="header-title">WORKFORCE</div>
            <div class="header-subtitle">We Serve Better</div>
        </div>
        <div class="header-form">
            <form action="/search">
                <input type="text" placeholder="Search">
                <input type="submit">
            </form>
        </div>
        <div class="header_profile">
            <% if(user) {%>
            <%= user.first_name %>
            <%= user.last_name %>
            <img src="<%= user.profile_photo %>" alt="">
            <% } %>
        </div>
    </header>