<input type="checkbox" id="togglenav" style="display: none;">
<nav class="service_nav">
    <label for="togglenav" style="align-self: flex-start; padding: 2rem;">
        <i class="fas fa-bars"></i>
    </label>
    <ul class="nav_options">
        <li class="nav_option">
            <div class="nav_option_icon">
                <i class="fas fa-home"></i>
            </div>
            <div class="nav_option_text">
                HOME
            </div>
        </li>
        <li class="nav_option nav_option-current">
            <div class="nav_option_icon">
                <i class="fas fa-plus"></i>
            </div>
            <div class="nav_option_text">
                NEW ORDER
            </div>
        </li>
        <li class="nav_option">
            <div class="nav_option_icon">
                <i class="fas fa-history"></i>
            </div>
            <div class="nav_option_text">
                PAST ORDERS
            </div>
        </li>
        <li class="nav_option">
            <div class="nav_option_icon">
                <i class="fas fa-phone-alt"></i>
            </div>
            <div class="nav_option_text">
                CONTACT US
            </div>
        </li>
        <li class="nav_option">
            <div class="nav_option_icon">
                <i class="far fa-sticky-note"></i>
            </div>
            <div class="nav_option_text">
                FEEDBACK
            </div>
        </li>
    </ul>
</nav>