<% include ./partials/header %>

<div class="completedOrder_page" style="display: flex;">
    <% include ./partials/navigation %>
    <main>
        <%= JSON.stringify(order) %>
        <%= order %>
    </main>
</div>

<% include ./partials/footer %>