<% include ./partials/header %>
<title>
    WorkForce | Login
</title>
<form class="auth_form" action="/auth/login" method="POST">
    <input type="email" name="email_id" placeholder="Enter Email" required autofocus autocomplete="false">
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="submit" value="Login">
</form>

<% include ./partials/footer %>