<% include ./partials/workerHeader %>

<div class="pastJobs_page" style="display: flex;">
    <% include ./partials/workerNavigation %>
    <main class="pastJobs_main">
        <h1>
            These are the jobs you completed
            <span>Click for full details</span>
        </h1>
        <div>
            <%= jobs %>
        </div>
    </main>
</div>