<% include ./partials/header %>

<div class="worker_page" style="display: flex;">
    <% include ./partials/navigation %>
    <main class="worker_main">
        Service required: <%= service %> <br>
        At address: <%= address %>
    </main>
</div>
<% include ./partials/footer %>