<link rel="stylesheet" href="/stylesheets/style.css">

<form action="#" method="POST">
    <input type="radio" value="approve" class="btn-default" name="status" id="approve">
    <label for="approve" class="btn-default">Approve</label>

    <input type="radio" value="reject" class="btn-default-outline" name="status" id="reject">
    <label for="reject" class="btn-default-outline">Reject</label>
    <input type="submit">
</form>