.btn-default {
  background-color: var(--color-primary);
  color: white;
  border: 0.3rem solid var(--color-primary);
  padding: 1rem 2.5rem;
  margin: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;

  transition: all 0.2s ease;
}

.btn-default-outline {
  background-color: transparent;
  border: 0.3rem solid var(--color-primary);
  padding: 1rem 2.5rem;
  margin: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;

  transition: all 0.2s ease;
}

.btn-default-outline:hover {
  background-color: var(--color-primary);
  color: white;
}

.btn-default:hover {
  border: 0.3rem solid var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  color: white;
}

.btn-success {
  border: 0.3rem solid var(--color-success);
  background-color: var(--color-success);
  color: white;
}

.btn-error {
  border: 0.3rem solid var(--color-error);
  background-color: var(--color-error);
  color: white;
}
