.profile_main {
  display: flex;
  flex-direction: row;
}

.profile_main .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-primary-light);
}

.profile_main .sidebar ul {
  display: flex;
  flex-direction: column;
}

.profile_main .sidebar li {
  display: flex;
  flex-direction: row;
  list-style: none;
  background: moccasin;
  padding: 2rem;
  font-size: 2rem;
  margin: 0.5rem 0;
}

.profile_main .main {
  padding: 3rem;
}

.profile_main .main .user-info {
  font-size: 5rem;
}

hr {
  color: grey;
  width: 50%;
}

/* ------------ Select Service Page ----------- */

.services {
  padding: 2rem;
}

.services form {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  overflow: auto;
}

.service {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 30rem;
  margin: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0.4rem solid white;
}

.service label {
  cursor: pointer;
}

.services input[type="radio"] {
  display: none;
}

.services input:checked + .service {
  border: 0.4rem solid rgba(0, 0, 0, 0.8);
}

.service img {
  width: 100%;
  height: 20rem;
  transition: all 0.2s cubic-bezier(0.42, -0.3, 0.54, 1.13);
}

.service:hover {
  box-shadow: 0.1rem 0.1rem 1rem 1rem rgb(180, 180, 180);
}

.service:hover img {
  transform: scale(1.1);
}

.service .service_caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 100%;
}

.service_caption_text {
}

.service_main h1 {
  padding: 2rem;
  text-transform: uppercase;
  font-size: 2.3rem;
  border-bottom: 0.1rem solid rgb(180, 180, 180);
  margin-bottom: 1rem;
}

.service_main input {
  width: 20rem;
  border: none;
  border-bottom: 0.1rem solid rgb(100, 100, 100);
  text-align: right;
  font-size: 2rem;
}

.service_main input:focus {
  outline: none;
}
/* ------------ Select Address Page -----------*/

.addresses {
  padding: 2rem;
}

.address_main h1 {
  padding: 2rem;
  text-transform: uppercase;
  font-size: 2.3rem;
  border-bottom: 0.1rem solid rgb(180, 180, 180);
  margin-bottom: 1rem;
}

.address_main h1 span {
  font-size: 0.9em;
  font-weight: lighter;
}

.address_service {
  font-size: 2rem;
}

.addresses input[type="radio"],
.addresses input[type="submit"] {
  display: none;
}

.addresses input[type="radio"]:checked + label .address {
  background-color: rgb(220, 220, 220);
}

.address {
  font-size: 2rem;
  border: 0.1rem solid rgb(235, 233, 233);
  border-radius: 0.4rem;
  padding: 2rem;
  box-shadow: 0.1rem 0.1rem 0.7rem 0.1rem rgb(180, 180, 180);
  width: 50rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.address_main {
  width: 100%;
}

.address_main .add_address {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2rem;
}

.addresses .or {
  width: auto;
}

/* Bottom Element of Select Pages */

.form_finish {
  width: 100%;
  height: 6.9rem;
  border-top: 0.1rem solid rgb(180, 180, 180);

  position: sticky;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.form_finish label {
  font-size: 1.5rem;
}

/* Service Finish Page */

.finish_main {
  box-shadow: 0.1rem 0.1rem 0.5rem 0.5rem rgb(220, 220, 220);
  width: 60rem;
  margin: 8rem;
  border-radius: 0.4rem;
}

.finish_main .finish_header {
  padding: 1rem;
}

h1.submitted {
  background-color: #ffc107;
}

h1.submitted .status {
  color: rgb(111, 111, 111);
}

h1.approved {
  background-color: #289524;
}

h1.approved .status {
  color: rgb(220, 220, 220);
}

h1.rejected {
  background-color: #dd5c45;
}

h1.rejected .status {
  color: rgb(220, 220, 220);
}

.finish_header .finish_service {
  margin-top: 6rem;
  letter-spacing: 3px;
  font-size: 3rem;
  color: rgb(50, 50, 50);
}

.finish_header .status {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.finish_content .status_msg {
  padding: 1rem;
  font-size: 1.5rem;
  border: 0.1rem solid #e3e2e2;
  margin: 1rem;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
}

.finish_content .status_msg i {
  margin-right: 1.1rem;
  font-size: 1.7rem;
}

.finish_content .submitted i {
  color: #daa915;
}

.finish_content .approved i {
  color: #1be014;
}

.finish_content .rejected i {
  color: #da3215;
}

.finish_address {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 1.8rem;
}

.finish_phone {
  display: flex;
  align-items: center;
  padding: 1.7rem;
  font-size: 1.8rem;
}

.finish_phone i,
.finish_address i {
  margin-right: 1rem;
}

.finish_msg {
  color: rgb(111, 111, 111);
  padding: 2rem;
  font-size: 1.2rem;
}

.finish_worker {
  box-shadow: 0.1rem 0.1rem 0.5rem 0.5rem rgb(220, 220, 220);
  width: 60rem;
  height: fit-content;
  margin: 8rem;
  border-radius: 0.4rem;
}

.finish_worker .main_details {
  background-color: rgb(246, 230, 230);
  padding: 1rem;

  display: flex;
}

.finish_worker img {
  width: 10rem;
  height: 9.5rem;
  margin-right: 1rem;
}

.finish_worker .worker_detail {
}

.finish_worker .worker_detail_name {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.finish_worker .worker_detail_phone {
  font-size: 2rem;
  color: var(--color-primary-dark);
}

.finish_worker .worker_detail_rating {
  background-color: aliceblue;
  font-size: 4rem;
  color: var(--color-primary-dark);
  padding: 2rem;
}

.finish_worker .worker_detail_rating span {
  font-size: 2rem;
}
/* Worker Page - Selecting JOB */

.worker_main {
  width: 100%;
  padding: 2rem;
}

.worker_main input {
  display: none;
}

.worker_main h1 {
  text-transform: uppercase;
}

.worker_main h1 span {
  font-size: 0.8em;
  color: rgb(111, 111, 111);
}

.worker_main input[type="radio"]:checked + label {
  background-color: rgb(220, 220, 220);
}

.worker_main .worker_job {
  display: block;
  margin: 2rem auto;
  border: 0.1rem solid rgb(220, 220, 220);
  border-radius: 0.4rem;
  font-size: 2rem;
  padding: 1rem;
  max-width: 80rem;
  cursor: pointer;
  transition: all 0.2s;
}

.worker_main .worker_job:hover {
  box-shadow: 0.1rem 0.2rem 1.1rem 0.5rem rgb(180, 180, 180);
}

.worker_main .worker_jobs {
}

/* Current Orders Page */

.currentOrders_main .order {
  margin: 2rem;
  display: inline-block;
  width: 44rem;
  padding: 1rem;
  border: 0.1rem solid rgb(233, 233, 233);
  border-radius: 0.4rem;
}

.currentOrders_main .order_pending {
  border-left: 0.4rem solid #daa915;
}

.currentOrders_main .order_approved {
  border-left: 0.4rem solid #1be014;
}

.currentOrders_main .order_rejected {
  border-left: 0.4rem solid #da3215;
}

.currentOrders_main .order_current_status {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.currentOrders_main .order_job {
  font-size: 2rem;
  font-weight: 600;
}

.currentOrders_main .order_created_at {
}

/* Past Orders Page */
