@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --color-primary: #30a088;
  --color-primary-light: #4af0cc;
  --color-primary-dark: #206b5b;

  --text-color: white;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* Font Size = 10px*/
  scroll-behavior: smooth;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%; /* Font Size = 8px*/
  }
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Montserrat", sans-serif;

  font-weight: 400;
  line-height: 1.6;
  scroll-behavior: smooth;
  backface-visibility: hidden;
  height: 100%;
}

::selection {
  background-color: var(--color-primary-dark);
  color: white;
}
