.nav {
  display: flex;
  align-items: center;
  padding: 5rem;
  padding-top: 3rem;
  font-size: 1.8rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.nav_items {
  display: flex;
  list-style: none;
  justify-content: center;
  flex: 0 0 60%;
  color: var(--text-color);
}

.nav_items li a {
  text-decoration: none;
  color: inherit;
}

.nav_items li {
  color: var(--text-color);
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  transition: 0.2s all ease-in-out;
  border-bottom: 0.7rem solid transparent;
  cursor: pointer;
}

.nav_items li:hover {
  border-bottom: 0.7rem solid var(--text-color);
}

.nav_items .current_item {
  border-bottom: 0.7rem solid var(--text-color);
}

.menu {
  display: flex;
  color: white;
}

.menu .user {
  display: flex;
  text-transform: uppercase;
  text-align: center;
  margin-right: 1rem;
  flex-direction: column;
}

.menu .user .caption {
  font-size: 1.5rem;
}
/* Landing Page Ends */

.header {
  display: flex;
  background-color: var(--color-primary);
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.header_profile img {
  overflow: hidden;
  width: 3.5rem;
  border: 2px solid white;
  border-radius: 50%;
}

.header_profile input {
  display: none;
}

.header_profile input:checked + label {
  background-color: rgb(228, 228, 228);
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem 2rem;
  font-size: 3rem;
  border-bottom: 0.2rem solid rgb(180, 180, 180);
  box-shadow: 0 0.1rem 1rem 0.5rem rgb(180, 180, 180);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 105;
}

.main_header .header_title {
  letter-spacing: 0.4rem;
}

.main_header .header_profile {
  display: flex;
}

.main_header .header_profile i {
  margin: 1rem;
}

.service_nav {
  font-size: 2rem;
  flex-basis: 10rem;
  box-shadow: 0.1rem 1rem 1rem 0.5rem rgb(180, 180, 180);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  transition: all 0.2s ease-out;
}

input[id="togglenav"]:checked + .service_nav {
  flex-basis: 25%;
}

input[id="togglenav"]:checked
  + .service_nav
  .nav_options
  .nav_option
  .nav_option_text {
  display: inline-block;
}

.nav_options {
  list-style: none;
}

.nav_option {
  background-color: rgb(226, 224, 224);
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
}

.nav_option_text {
  overflow-wrap: break-word;
  margin-left: 1rem;
  display: none;
}

/* Page Footer */

.footer {
  width: 100%;
  background-color: rgb(50, 50, 50);
  padding: 2rem;
  z-index: 105;
}
